        body {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            background-color: #f8f9fa;
            color: #495057;
            margin: 0;
            padding: 0;
            min-height: 100vh;
            background-image: url('https://res.infoq.com/articles/edge-computing-5g/en/headerimage/header-13-1614683413201.jpg'); /* Замените 'your-background-image.jpg' на путь к вашему изображению */
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .white-container {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 80%;
            text-align: center;
            overflow: hidden;
            margin-top: 50px;
        }

        h1, h6 {
            color: #000080	;
        }

        .btn-primary,
        .btn-secondary {
            width: 100%;
            max-width: 200px;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            margin-top: 20px;
            transition: background-color 0.3s;
        }

        .btn-primary {
            background-color: #001f3f; /* Изменен цвет на темно-синий */
            border-color: #001f3f;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
        }

        .btn-secondary:hover {
            background-color: #5a6268;
        }

        .crypto-info {
            margin-top: 30px;
        }

        .news-container {
            margin-top: 200px;
        }

        .card {
            background-color: #ffffff;
            border: none;
            border-radius: 10px;
            overflow: hidden;
            transition: transform 0.3s;
            margin-bottom: 20px;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card img {
            height: 200px;
            object-fit: cover;
            border-bottom: 1px solid #dee2e6;
        }

        .card-body {
            padding: 20px;
        }