{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="resume-card" style="border: 1px solid #001f3f; padding: 15px; margin-bottom: 20px;">
                <h4>{{ vacancy.vacancy }}</h4>
                <p><strong>ФИО:</strong> {{ vacancy.full_name }}</p>
                <p><strong>Возраст:</strong> {{ vacancy.age }}</p>
                <p><strong>Город:</strong> {{ vacancy.city }}</p>
                <p><strong>Опыт работы:</strong> {{ vacancy.experience }}</p>
                <p><strong>Последний опыт работы:</strong> {{ vacancy.last_experience }}</p>
                <p><strong>О себе:</strong> {{ vacancy.about }}</p>
                <p><strong>Номер телефона:</strong> {{ vacancy.phone_number }}</p>
                <p><strong>Дата публикации:</strong> {{ vacancy.created_at }}</p>
                <p><strong>Создано:</strong> {{ vacancy.created_by }}</p>

                <!-- Фотография -->
                {% if vacancy.face_photo %}
                    <img src="{{ vacancy.face_photo.url }}" alt="{{ vacancy.vacancy }}" class="img-fluid" style="border: 1px solid #001f3f; padding: 10px; float: right; margin-left: 15px; margin-top:-350px;">
                {% else %}
                    <p>Фотография отсутствует</p>
                {% endif %}

                <!-- Добавьте проверку на администратора или пользователя -->
                {% if user.is_authenticated %}
                    {% if user.is_superuser or user == vacancy.created_by %}
                        <form method="post" action="{% url 'delete_vacancy' vacancy.pk %}" style="display: inline-block;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить резюме</button>
                        </form>
                        <a href="{% url 'edit_vacancy' vacancy.pk %}" class="btn btn-dark rounded" style="display: inline-block; background-color: #001f3f; border-color: #001f3f; ">Редактировать резюме</a>
                    {% endif %}
                {% endif %}

                <!-- Рейтинг -->
                <div class="rating" style="margin-top: 15px;">
                    <p><strong>Рейтинг:</strong> {{ average_rating }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Отзывы -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 style="color: #001f3f;">Отзывы</h2>
            {% for review in reviews %}
                <div class="review" style="border: 1px solid #001f3f; padding: 15px; margin-bottom: 20px;">
                    <p><strong>Автор отзыва:</strong> {{ review.author.username }}</p>
                    <p><strong>Оценка:</strong> {{ review.rating }}/10</p>
                    <p>{{ review.comment }}</p>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser or user == review.author %}
                            <form method="post" action="{% url 'delete_review' review.pk %}" style="display: inline-block;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Удалить отзыв</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Форма для добавления отзыва -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 style="color: #001f3f;">Оставить отзыв</h2>
            <form method="post" action="{% url 'add_review' vacancy.pk %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="rating">Оценка (1-10)</label>
                    <input type="number" min="1" max="10" class="form-control" id="rating" name="rating" required>
                </div>
                <div class="form-group">
                    <label for="comment">Комментарий</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-dark rounded" style="background-color: #001f3f; border-color: #001f3f;">Отправить</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
